body {
	font-size:16px;
	font-family: sans-serif;
}
h1 {
	font-size:1.2em;
}
h3 {
	font-weight:normal;
	margin-bottom:0;
}

p {
	margin-bottom:0;
}
ul {
	display:flex;
	justify-content: center;
	align-items: center;
	margin:0;
}
li {
	display:flex;
	margin:0 10px;
}
input, button {
	padding:10px 25px;
	border:2px solid orange;
	border-radius:3px;
	font-size: 1em;

}

input {
	width:400px;
}

button {
	background:darkcyan;
	border-color: darkcyan;
	color:white;
	cursor:pointer;
}
button:hover {
	background: #08A0A0;
}

.locationSubmit {
	margin: 0 auto;
	text-align:center;
}

.locationInfo {
	text-align: center;
	color:gray;
}
.hide {
	display:none;
}